<div class="container">
  <div class="row clearfix">
    <div class="col-md-12 column">
        <form method="post" action="">
        <input type="hidden" value="1" name="step"/>
        <input type="hidden" value="<%= @e[:_id] %>" name="id"/>
        <input type="text" value="<%= @e[:name] %>" name='name' class="form-control" required/>
        <input type="text" value="<%= @e[:width] %>" value="780" name='width' class="form-control"/>
        <div id="elements">
          <table class="table table-bordered table-hover" id="items">
            <thead>
            <tr>
              <th class="text-center">
                Image URL
              </th>
              <th class="text-center">
                Link URL
              </th>
              <th class="text-center">
                Delete
              </th>
            </tr>
            </thead>
            <tbody>
            
          <% r = 0 %>
          <% @e.items.each do |item| %>
                  <tr id='<%= r %>'>
              		<td>
                      <input type="text" name='itm[<%= r %>][imageURL]' value='<%= item[:imageURL] %>' class="form-control"/>
                    </td>
                    <td>
                      <input type="text" name='itm[<%= r %>][linkURL]' value='<%= item[:linkURL] %>' class="form-control"/>
                    </td>
                    <td>
                      <a class="btn btn-default pull-right glyphicon glyphicon-minus delete-row"></a>
                    </td>
            	</tr>                    
                <% r = r + 1 %>
          <% end %>                    
            </tbody>
          </table>
        </div>
        <a class="btn btn-default pull-left add-row">Add Row</a>
        <button type="submit" class="btn btn-default pull-left">Submit</button>
      </form>
    </div>
  </div>
</div>

<script type="text/javascript">
    $( document ).ready(function () {
        var i = <%= @e.nil? ? 0 : @e.items.length %>;

        $( '.add-row' ).on( 'click', function() {
            console.log( 'add row clicked' );

            var shtml = "<tr id='" + i + "'>" +
                    "<td><input name='itm[" + i + "][imageURL]' type='text' placeholder='imageURL' required class='form-control input-md'/> </td>" +
                    "<td><input name='itm[" + i + "][linkURL]' type='text' placeholder='Link URL'  class='form-control input-md'></td>" +
                    "<td><a class='btn btn-danger center-block glyphicon glyphicon-minus delete-row'></a></td></tr>";

            $('#items').append(shtml);
            i++;
        });
        

	 	$( '#items' ).on('click', '.delete-row', function() {
	 		console.log( 'delete row clicked' );
            var tr = $(this).closest('tr');
            tr.css("background-color", "#FF3700");
            tr.fadeOut(400, function () {
                tr.remove();
            });
            return false;
        });
    });
</script>